/Build/04-Original files/GL6_FACE.DAT
/Build/04-Original files/GL6_FILE.DAT
/Build/04-Original files/GL6_SCEN.DAT
/Build/04-Original files/SLPM_667.16
/Build/04-Original files/GL6_FACE DAT/*
/Build/04-Original files/GL6_SCEN DAT/*
/Build/04-Original files/GL6_FILE DAT/*