Build/04-Original files/GL6_FACE.DAT
Build/04-Original files/GL6_FILE.DAT
Build/04-Original files/GL6_SCEN.DAT
Build/04-Original files/SLPM_667.16
Build/04-Original files/GL6_FACE DAT/*
Build/04-Original files/GL6_SCEN DAT/*
Build/04-Original files/GL6_FILE DAT/*
build/05-original_files/GL6_FACE.DAT
build/05-original_files/GL6_FILE.DAT
build/05-original_files/GL6_SCEN.DAT
build/05-original_files/SLPM_667.16